/*
body {
    background-color: goldenrod;
    font-family: 'Roboto', sans-serif;
}
h2 {
    color: blueviolet;
}
p {
    color: chocolate;
}
a {
    background-color: chartreuse;
}
h1 {
    color: darkred;
    text-transform: uppercase;
}
*/
.text-red {
  color: red;
}
.fs-14 {
  font-size: 14px;
}
.fs-20 {
  font-size: 20px;
}
.fs-30 {
  font-size: 30px;
}

#first-article {
  font-size: 40px;
}

p {
  font-size: 20px;
}
h1 {
    font-size: 30px;
}
h1,h2,h3,h4,h5,h6 {
    color: #a88c8c;
}

title{
    color: chartreuse;
}
.title {
    color: rgb(0, 26, 255);
}

.container > p.intro + ul > li:first-child {
  color: orange;
  }